.card-matos{
    display: flex;
    align-items:center;
    float:left;
    margin:5px;
    border-radius: 14px;

    
    // padding: 2px;
    // border: 1px solid grey;
    // border-radius: 2px;
  
  }
  
  .card-matos:hover{
    //cursor: grab;
    background-color: rgba(255,165,0,0.5) !important;
    color: white !important;
  }

  #label-matos:hover{
    //cursor: grab;
    //background-color: rgba(255,165,0,0.5) !important;
    color: white !important;
  }
  
  .selected{
    background-color: orange;
    color: white !important;
  }

  #label-matos{
    //background-color: orange;
    border: orange 1px solid;
    /* border-radius: 14px; */
    /* padding: 14px; */
    height: 28px;
    padding: 5px 20px 5px 20px;
    border-radius: 14px;
    color: orange;
  }

  ion-button{
      width:50%;
      margin-left:25%;
  }